/* 공통 스타일 */
/* 상단 네이게이션 바에 대한 스타일 */

.nav {
    height: 80px;
    background-color: lightblue;
}

.nav p {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
}

.navbar {
    height: 80px;
    background-color: lightpink;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin: 5px;
    height: 70px;
    width: 70px;
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li:hover {
    background-color: coral;
}

.navbar a {
    text-decoration: none;
    color: white;
}